/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/
@import url('https://fonts.googleapis.com/css?family=Sniglet');
html,body {
  scrollbar-gutter: stable;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: #8BD1CB;
  display: grid;
  grid-template-rows: repeat(9, minmax(0, 1fr));
  grid-template-columns: repeat(9, minmax(0,1fr));
  position:relative;
  overflow:hidden;
  place-items: center;
  
}

h1,h2,h3,a,p{
  font-family: 'Sniglet', serif;
  text-align: center;
}

a {
  font-size: 5vw;
  text-decoration: none;
  color: inherit;
  border: 5px solid #fff7e1;
  border-radius: 1em;
  /*background-color:#fff7e180 ;
  padding-left:.7em;
  padding-right: .7em;
  padding-top: .2em;
  padding-bottom: .2em;*/
  
  
}
#drops{
  border: 5px solid #fff7e1;
  border-radius: 1em;
  background-color:#fff7e180 ;
}
#butt{
  /*text-align: center;*/
  grid-row-start: 9;
  grid-column-start: 5;
  position: relative;
  
  
}
#title{
  display: flex;
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 7;
  position: relative;
  width:fit-content;
  align-items: center;
  justify-content: center;
  
}
#subtitle{
  display: flex;
  grid-row-start: 3;
  grid-column-start: 5;
  position: relative;
  width:fit-content;
  align-items: center;
  justify-content: center;
  
}

#cw_logo_h{
  display: flex;
  grid-row-start: 1;
  
  grid-column-start: 3;
  grid-column-end: 8;
  position: relative;
  
  background-color:#fff7e1;
  
  border-radius: 1em;
  width:fit-content;
  align-items: center;
  justify-content: center;
}
#cw_logo_himg{
  width:90%;
  
  
}
#poppy{
  display: block;
  margin-left: auto;
  margin-right: auto;
  grid-row-start: 4;
  grid-row-end: 9;
  grid-column-start: 4;
  grid-column-end: 7;
  position: relative;
  width: fit-content;
  /*height:30vw;
  margin-bottom: 3vw;*/
}
#poppy img{
  
  height:100%;
  width: 100%;
  object-fit:scale-down;
  
  
}
/* change poppy for heights 600 and less*/
